/* reset */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,  dfn, em, img,  small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

/* typography */

body {
  font-family: "Akzidenz Grotesk", "Akzidenz Grotesk BQ", "Helvetica Neue", "Helvetica";
  font-size: 18px;
}

@font-face {
  font-family: "Akzidenz Grotesk BQ";
  src: url('light.otf');
}

@font-face {
  font-family: "Akzidenz Grotesk BQ Bold";
  font-weight: bold;
  src: url('bold.otf');
}

h1, h1 em, table th {
  font-family: "Akzidenz Grotesk BQ Bold";
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 45px;
}

/* layout */

.varnishtop {
  margin: 40px;
}

#logo {
  margin-bottom: 15px;
}

/* about */

.varnishtop {
  margin-top : -1170px;
}

#about {
  height: 1200px;
}

/* colors */

.ambient { color: #cdcdcd; }

/* links */

a {
  color: #1187ec;
}

/* head and statistics */

h1 em {
  color: #ff0084;
}

section h2 {
  display: none;
}

dt, dl, dd {
  display: inline;
}

header {
  float: left;
}

section.dashboard {
  font-family: "Akzidenz Grotesk BQ Bold";
  font-weight: bold;

  float: right;
  font-size: 45px;
}

section.statistics {
  clear: both;
}

.statistics .average {
  color: #aaa;
}

/* sparklines */

.spark {
  height: 16px;
}

/* data */

table {
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

table th {
  font-size: 18px;
  text-align: left;
  padding-right: 15px;
}

table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table thead tr th:first-child {
  width: 100px;
}

table tbody tr td:first-child {
  width: 100px;
}

.path {
  color: #aaa;
}

/* about */

.about {
  margin-left: 30px;
  margin-top: 30px;
}

.tilde {
  color: #1187ec;
  width: 15px;
}

.splash {
  display: block;
  color: black;
  text-align: center;
}

.splash h1 {
  font-size: 25px;
  margin-bottom: 25px;
}

.splash a {
  text-decoration: none;
}

.splash em {
  color: #ff0084;
}

.splash .ambient {
  color: black;
}
